/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* background-color: #333; */
    color: rgb(44, 40, 40);
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links a {
    color: rgb(44, 40, 40);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-links a:hover,
  .navbar-links .active-link {
    background-color: lightblue;
  }
  